{% extends 'base.html.twig' %}

{% block body %}
    <h1>Personas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nif</th>
                <th>Nom</th>
                <th>Cognom</th>
                <th>Email</th>
                <th>Hores</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ persona.id }}</a></td>
                <td>{{ persona.nif }}</td>
                <td>{{ persona.nom }}</td>
                <td>{{ persona.cognom }}</td>
                <td>{{ persona.email }}</td>
                <td>{{ persona.hores }}</td>
                <td>{{ persona.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('persona_show', { 'id': persona.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('persona_edit', { 'id': persona.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('persona_new') }}">Create a new persona</a>
        </li>
    </ul>
{% endblock %}
